<div class="container">

  <br>

  <h1>register</h1>
  <p class="lead">become a member today</p>

  <br>

  <form role="form" action="/auth/register" method="post">

    {{#if info}}
    <div class="alert alert-danger" role="alert">{{info}}</div>
    {{else}}
    <div>&nbsp;</div>
    {{/if}}

    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="username">
    </div>

    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="name">
    </div>

    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="email">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="password">
    </div>

    <button class="btn btn-primary" type="submit">log in</button>
    <a href="/"><button class="btn btn-warning" type="button">cancel</button></a>

  </form>
